body {
    font-family: Arial, sans-serif;
    background-color: #2a0e50;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;

    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 60px); /* Ajusta el ancho para incluir margen a ambos lados */
    padding: 10px;
    margin: 10px 10px; /* Márgenes superior/inferior e izquierdo/derecho */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0d0d0d;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #010101;
}

.login-container p {
    margin-top: 10px;
}

.login-container a {
    color: #a193f4;
    text-decoration: none;
}

h3{
font-weight: normal;
}

button {
    background-color: #984caf; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno (arriba y abajo, izquierda y derecha) */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

button:hover {
    background-color: #5444e3; /* Color de fondo al pasar el cursor sobre el botón */
}

button:focus {
    outline: none; /* Elimina el borde de enfoque por defecto */
}

/* styleAddUser.css */

.form-control {
    height: 41px; /* Ajusta según el tamaño deseado */
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control::placeholder {
    font-size: 14px;
    color: #6c757d;
}

.btn-block {
    padding: 10px 0;
    font-size: 16px;
}
